.container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  }
/*having wide image in normal */

  .img1 ,.img2, .img3, .img4, .img5 ,.img6, .img7, .img8,.img9 ,.img10,.img11  {
    width:100%; 
    padding-bottom: 1em;
  }
   .card-g {
    display: flex;
    flex-direction: column;

    margin: 1em 2em;
    min-width: 30ch;
    max-width: 45ch;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em ;
  }
  

  